* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

html {
    background-color: black;
    color: white;
}

body {
    border: 2px solid green;
    max-width: 90%;
    margin: 0 auto;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin: auto;
    width: 320px;
    height: 320px;
}

.pixel {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    background-color: green;
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    height: 20px;
    min-height: 20px;
    max-height: 20px;
}